<div class="container-fluid">
        
  <!--NAVBAR-->
  <nav class="navbar navbar-expand navbar-light topnavbar fixed-top">
    <img id="quatreponchs" src="./assets/Images/crotzponchs/godas_ponchs.png"/> <!--;class="quatreponchs"-->
    <div class="" #navbarSupportedContent>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item titolmenu">
          <b>PANTAIS CLUS</b>
        </li>
        <li class="nav-item dropdown underline">
            <a href #theme class="nav-link dropdown-toggle underline" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
            <div class="dropdown-menu" aria-labelledby="theme">
              <a (click)="changetheme('lura')" class="dropdown-item" aria-labelledby="Lura">Lura</a>
              <a (click)="changetheme('marselha')" class="dropdown-item" aria-labelledby="Marselha">Marselha</a>
              <a (click)="changetheme('godas')" class="dropdown-item" aria-labelledby="Godas">Godas</a>
              <a (click)="changetheme('vitrolas')" class="dropdown-item" aria-labelledby="Vitrolas">Vitròlas</a>
              <a (click)="changetheme('salagon')" class="dropdown-item" aria-labelledby="Salagon">Salagon</a>
              <a (click)="changetheme('venturi')" class="dropdown-item" aria-labelledby="Venturi">Venturi</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link underline" (click)="displaywindow(draggablecredits)">Credits</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="draggingzone" >                
    <!-----------SOCIAU--------------->
    <div #draggablesociau id="draggablesociau" class="draggable todrag hide sociau" (click)="addzindex(draggablesociau)" cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablesociauheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzsociau" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosesociau (click)="closewindow(draggablesociau)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS social links
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <!--Computer-->
        <div class="d-flex fenestra computermenu">
          <a class="apple" href="https://music.apple.com/fr/artist/rod%C3%ADn/1495701565" target="_blank"></a>
          <a class="spotify" href="https://open.spotify.com/artist/7cMWfV0yjQ0GPs8fiDp3UA?si=GxRTmzsrSHCsYbFS-_ipHw" target="_blank"></a>
          <a class="instagram" href="https://instagram.com/rodiin" target="_blank"></a>
          <a class="facebook" href="https://www.facebook.com/pantaisclus" target="_blank"></a>
          <a class="twitter" href="https://twitter.com/pantaisclus" target="_blank"></a>
          <a class="bandcamp" href="https://rodiin.bandcamp.com" target="_blank"></a>
          <a class="soundcloud" href="https://soundcloud.com/rodiin" target="_blank"></a>
          <a class="youtube" href="https://www.youtube.com/c/rodínmusica" target="_blank"></a>
        </div>
        <!--Mobile1-->
        <div class="d-flex fenestra mobilemenu">
            <a class="apple" href="https://music.apple.com/fr/artist/rod%C3%ADn/1495701565" target="_blank"></a>
            <a class="spotify" href="https://open.spotify.com/artist/7cMWfV0yjQ0GPs8fiDp3UA?si=GxRTmzsrSHCsYbFS-_ipHw" target="_blank"></a>
            <a class="instagram" href="https://instagram.com/rodiin" target="_blank"></a>
            <a class="facebook" href="https://www.facebook.com/pantaisclus" target="_blank"></a>
        </div>
        <!--Mobile2-->
        <div class="d-flex fenestra mobilemenu">
            <a class="twitter" href="https://twitter.com/pantaisclus" target="_blank"></a>
            <a class="bandcamp" href="https://rodiin.bandcamp.com" target="_blank"></a>
            <a class="soundcloud" href="https://soundcloud.com/rodiin" target="_blank"></a>
            <a class="youtube" href="https://www.youtube.com/c/rodínmusica" target="_blank"></a>
        </div>
      </div>    
    </div>

    <!-----------CREDITS--------------->
    <div #draggablecredits id="draggablecredits" class="draggable todrag credits hide" (click)="addzindex(draggablecredits)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablecreditsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzcredits" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosecredits (click)="closewindow(draggablecredits)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS Credits
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class=" d-flex fenestra">
          <p class="text-center">pantaisclus.art ©Valentin Belhomme + <a href="https://neblum.art/pantaislabel" target="_blank" class="textlink">PantaisRecords</a> 2021 </p>
        </div>
      </div>    
    </div>

    <!-----------snippet--------------->
    <div #draggablesnippet id="draggablesnippet" class="draggable todrag tv hide" (click)="addzindex(draggablesnippet)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablesnippetheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzsnippet" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosetv (click)="closewindow(draggablesnippet)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS television
      </div>
      <div class="insideframe">
        <app-snippet *ngIf="snippetView"></app-snippet>
      </div>
    </div>

    <!-----------FILMS--------------->
    <div #draggablefilms id="draggablefilms" class="draggable todrag films hide" (click)="addzindex(draggablefilms)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablefilmsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzfilms" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosefilms (click)="closewindow(draggablefilms)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS films
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div id="player" class=" d-flex">
        </div>
      </div>
    </div>

    <!-----------Radio--------------->
    <div #draggableradio id="draggableradio" class="draggable todrag radio hide" (click)="addzindex(draggableradio)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableradioheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzradio" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloseradio (click)="closewindow(draggableradio)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS radio
      </div>
      <div class="insideframe"> 
        <ngx-audio-player class="gifK7" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
          muted="muted" [displayPlaylist]="msaapDisplayPlayList" 
          [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
          [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
          [displayDuration]="msaapDisplayDuration" [expanded]="true">
        </ngx-audio-player> 
      </div>
    </div> 
    <!-- [pageSizeOptions]="pageSizeOptions" (trackEnded)="onEnded($event)" [autoPlay]="false"   -->

    <!-----------LYRICS--------------->
    <div #draggablelyrics  id="draggablelyrics" class="draggable todrag lyrics hide" (click)="addzindex(draggablelyrics)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablelyricsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzlyrics" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloselyrics (click)="closewindow(draggablelyrics)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS lyrics
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas iconaslyrics">
          <a href="./assets/Images/pantaisclus.pdf" target="_blank">
            <img class="img-fluid" src="./assets/Images/icones/lyrics_art.png" alt="lyrics"> 
          </a>
          <a href="./assets/Images/pantaisclus_eng.pdf" target="_blank">
            <img class="img-fluid" src="./assets/Images/icones/lyrics_eng.png" alt="english">
          </a>
          <a href="./assets/Images/pantaisclus_fr.pdf" target="_blank">
            <img class="img-fluid" src="./assets/Images/icones/lyrics_fr.png" alt="francais">
          </a>
        </div>
      </div>    
    </div>

    <!-----------MAG---------------->
      <div #draggablemag  id="draggablemag" class="draggable todrag mag hide" (click)="addzindex(draggablemag)"  cdkDragBoundary="#draggingzone" cdkDrag>
        <div #draggablemagheader class="drag-header todrag" cdkDragHandle>
          <span><img id="crotzmag" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosemag (click)="closewindow(draggablemag)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS mag
        </div>
        <div class="insideframe"> <!-----------cadre interieur--------------->
          <app-mag *ngIf="magView"></app-mag>
        </div>    
      </div>

    <!-----------SHOP--------------->
    <div #draggableshop  id="draggableshop" class="draggable todrag shop hide" (click)="addzindex(draggableshop)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableshopheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzshop" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloseshop (click)="closewindow(draggableshop)" 
          class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS shop
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas imgshop">
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/pantaisclus" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/pantaiclus.png' 
                    onmouseover="this.src='./assets/Images/shop/pantaiclus_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/pantaiclus.png';" alt="CD"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PANTAIS CLUS [LP US edition] • rodín</strong><br>
                limited 12" 140g transparent blue LP US edition, gatefold + black inner bag + 
                  two sides colour inlay US distribution by Fake Four Inc.<br><br>
                <i>vinil blu transparent 12" 140g edicion US, cuberta gatefold + saquet interior negre + 
                  insert color 2 facias distribucion US per Fake Four Inc.</i></p>
                  <strong class="float-end">25€</strong>
              </div>
            </div>
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/pantaiscd" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/pantaicluscd.png' 
                    onmouseover="this.src='./assets/Images/shop/pantaiscluscd_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/pantaicluscd.png';" alt="CD"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PANTAIS CLUS [CD deluxe] • rodín</strong><br>
                  b&w print + gold pantone, inside & outside cover limited series of 1000, 
                  numbered 32 pages color artistic booklet with lyrics on 80g paper 40 pages b&w 
                  booklet + lyrics, english & french translation 80g paper 10 songs, 55 mn
                  <br><br>
                <i>cuberta n&b + pantone aur, dedins & defòra seria limitada de 1000, 
                  numerotada libret artistic 32 paginas color + paraulas sus papier 80g libret 40 paginas n&b 
                  + paraulas, traduccion anglés e francés sus papier 80g 10 cançons, 55 mn</i></p>
                  <strong class="float-end">17€</strong>
                
              </div>
            </div>
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/pantaisusina" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/pantaisusina.png' 
                    onmouseover="this.src='./assets/Images/shop/pantaisusina_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/pantaisusina.png';" alt="CD_Usina"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PANTAIS CLUS [CD usina] • rodín</strong><br>
                  cardboard cover + stamp printing 4 pages booklet, black print on 160g terracotta art paper 
                  limited series, numbered 10 songs, 55 mn
                  <br><br>
                <i>cuberta kraft + estampatge tampon libret 4 paginas, estampatge negre sus papier d'art 160g 
                  terracotta seria limitada, numerotada 10 cançons, 55 mn</i></p>
                  <strong class="float-end">10€</strong>
              </div>
            </div>
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/pantais-clus-stickers-lot-rodin" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/stickers.png' 
                    onmouseover="this.src='./assets/Images/shop/stickers_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/stickers.png';" alt="Stickers"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PANTAIS CLUS [4 stickers] • rodín</strong><br>
                  4 stickers pack: MONTANHA DE LURA: 10x7 cm holographic + CMYK // 
                  REI DE LA LUNA: 8 cm round holographic + white // LOGO x 2: 5 cm round CYMK // free shipping
                  <br><br>
                <i>lòt de 4 pegasolets: MONTANHA DE LURA: 10x7 cm olografic + CMJN // 
                  REI DE LA LUNA: 8 cm redond olografic + blanc // LOGO x 2: 5 cm redond CMJN // mandadís a gratis</i></p>
                  <strong class="float-end">12€</strong>
              </div>
            </div>
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/pantaisclusk7" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/k7.png' 
                    onmouseover="this.src='./assets/Images/shop/k7_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/k7.png';" alt="k7"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PANTAIS CLUS [casseta] • rodín</strong><br>
                  limited transparent blue tape uv led body print, jcard +1
                  <br><br>
                <i>casseta blu transparent, estampatge uv, edicion limitada, cuberta jcard +1</i></p>
                  <strong class="float-end">10€</strong>
              </div>
            </div>
            <div class="row margin-btm">
              <div class="col colshop">
                <a href="https://botiga.pantaisrecords.com/product/flor-sabon" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/sabon.png' 
                    onmouseover="this.src='./assets/Images/shop/sabon_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/sabon.png';" alt="sabon"/>
                </a>
              </div>
              <div class="col shopparagraph">
                <p><strong class="weissModern">PICHÒTA FLOR [sabon balicòt mandarina] • rodín</strong><br>
                  basil & mandarin handmade soap obtained by cold saponification. 100g
                  caution cold saponification can cause the soap to melt faster if left in the water. 
                  Keep in a dry place after use.
                  <br><br>
                <i>sabon artisanau balicòt & mandarina, obtengut per saponificacion a freg. 100g
                  mèfi la saponificacion a freg pòu accelerar la fonduda dau sabon s'es laissat dins una environa umida. 
                  Gardatz-lo au sec après utilisacion.</i></p>
                  <strong class="float-end">7€</strong>
              </div>
            </div>
        </div>
      </div>    
    </div>

    <!-----------PRO--------------->
    <div #draggablepro  id="draggablepro" class="draggable todrag pro hide" (click)="addzindex(draggablepro)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableproheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzpro" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosepro (click)="closewindow(draggablepro)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS pro
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas iconaspro">
          <p>en espera de docs</p>
          <iframe width="560" height="315" 
            src="https://myshmup.com/app?game=2b433d14-ee61-4a3d-b341-645cfd86986c&session-type=play"
            title="myshmup" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen >
          </iframe>
          

          
        </div>
      </div>    
    </div>

    <app-not-found *ngIf="errorView === 404"></app-not-found>
  
    <div class="cosdepagina">
      <!--<div class="justify-content-center d-flex margin_topbottom grostitreorange">
        <img src="./assets/Images/GrosTitreOrange.png" class="img-fluid">            
      </div> -->
      <div class="justify-content-center d-flex margin_topbottom">
        <div class="iconas">
          <a #iconlyrics (click)="displaywindow(draggablelyrics)" >
            <img class="img-fluid" src="./../../../assets/Images/icones/lyrics.png" alt="lyrics">
          </a>
          <a #iconlinkssociau (click)="displaywindow(draggablesociau)" >
            <img class="img-fluid" src="./assets/Images/icones/links.png" alt="sociau">
          </a>
          <!-- <a #iconyoutube (click)="displaywindow(draggablesnippet)" >
            <img class="img-fluid" src="./assets/Images/icones/tv.png" alt="snippets">
          </a> -->
          <a #iconvideos href="http://pantaisclus.tv/" target="_blank">
            <img class="img-fluid" src="./assets/Images/icones/videos.png" alt="videos">
          </a>
          <a #iconfilms (click)="displaywindow(draggablefilms)" >
            <img class="img-fluid" src="./assets/Images/icones/films.png" alt="films">
          </a>
          <a #iconradio (click)="displaywindow(draggableradio)" >
            <img class="img-fluid" src="./assets/Images/icones/radio.png" alt="radio">
          </a>
          <a #iconmag (click)="displaywindow(draggablemag)" >
            <img class="img-fluid" src="./../../../assets/Images/icones/mag.png" alt="mag">
          </a>
          <a #iconshop (click)="displaywindow(draggableshop)" >
            <img class="img-fluid" src="./../../../assets/Images/icones/shop.png" alt="shop">
          </a>
          <a #iconpro (click)="displaywindow(draggablepro)" >
            <img class="img-fluid" src="./assets/Images/icones/pro.png" alt="pro">
          </a>
        </div>
      </div>
    </div>
  </div>   
</div>