<div class="container-fluid">
        
  <!--NAVBAR-->
  <nav id="navbar" class="navbar navbar-expand navbar-light topnavbar fixed-top">
    <a class="nav-link quatreponchs" id="linkquatreponchs" #pantaisclus href="https://fanlink.to/pantaisclus" target="_blank" aria-labelledby="PANTAIS CLUS">
      <img id="quatreponchs" src="./assets/Images/crotzponchs/godas_ponchs.png"/> 
    </a>
    <div class="" #navbarSupportedContent>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item titolmenu">
          <b>PANTAIS CLUS</b>
        </li>
        <li class="nav-item dropdown underline">
            <a href #theme class="nav-link dropdown-toggle underline" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Themes</a>
            <div class="dropdown-menu" aria-labelledby="theme">
              <a (click)="changetheme('lura')" class="dropdown-item" aria-labelledby="Lura">Lura</a>
              <a (click)="changetheme('marselha')" class="dropdown-item" aria-labelledby="Marselha">Marselha</a>
              <a (click)="changetheme('godas')" class="dropdown-item" aria-labelledby="Godas">Godas</a>
              <a (click)="changetheme('vitrolas')" class="dropdown-item" aria-labelledby="Vitrolas">Vitròlas</a>
              <a (click)="changetheme('salagon')" class="dropdown-item" aria-labelledby="Salagon">Salagon</a>
              <a (click)="changetheme('venturi')" class="dropdown-item" aria-labelledby="Venturi">Venturi</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link underline" (click)="displaywindow(draggablecredits)">Credits</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="draggingzone" >                
    <!-----------SOCIAU--------------->
    <div #draggablesociau id="draggablesociau" class="draggable todrag hide sociau" (click)="addzindex(draggablesociau)" cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablesociauheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzsociau" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosesociau (click)="closewindow(draggablesociau)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS social links
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <!--Computer-->
        <div class="d-flex fenestra computermenu">
          <a class="apple" id="apple" href="https://music.apple.com/fr/artist/rod%C3%ADn/1495701565" target="_blank"></a>
          <a class="spotify" id="spotify" href="https://open.spotify.com/artist/7cMWfV0yjQ0GPs8fiDp3UA?si=GxRTmzsrSHCsYbFS-_ipHw" target="_blank"></a>
          <a class="instagram" id="instagram" href="https://instagram.com/rodiin" target="_blank"></a>
          <a class="facebook" id="facebook" href="https://www.facebook.com/pantaisclus" target="_blank"></a>
          <a class="twitter" id="twitter" href="https://twitter.com/_rodiin_" target="_blank"></a>
          <a class="bandcamp" id="bandcamp" href="https://rodiin.bandcamp.com" target="_blank"></a>
          <a class="soundcloud" id="soundcloud" href="https://soundcloud.com/rodiin" target="_blank"></a>
          <a class="youtube" id="youtube" href="https://www.youtube.com/c/rodínmusica" target="_blank"></a>
        </div>
        <!--Mobile1-->
        <div class="d-flex fenestra mobilemenu">
            <a class="apple" id="apple_mobile" href="https://music.apple.com/fr/artist/rod%C3%ADn/1495701565" target="_blank"></a>
            <a class="spotify" id="spotify_mobile" href="https://open.spotify.com/artist/7cMWfV0yjQ0GPs8fiDp3UA?si=GxRTmzsrSHCsYbFS-_ipHw" target="_blank"></a>
            <a class="instagram" id="instagram_mobile" href="https://instagram.com/rodiin" target="_blank"></a>
            <a class="facebook" id="facebook_mobile" href="https://www.facebook.com/pantaisclus" target="_blank"></a>
        </div>
        <!--Mobile2-->
        <div class="d-flex fenestra mobilemenu">
            <a class="twitter" id="twitter_mobile" href="https://twitter.com/pantaisclus" target="_blank"></a>
            <a class="bandcamp" id="bandcamp_mobile" href="https://rodiin.bandcamp.com" target="_blank"></a>
            <a class="soundcloud" id="soundcloud_mobile" href="https://soundcloud.com/rodiin" target="_blank"></a>
            <a class="youtube" id="youtube_mobile" href="https://www.youtube.com/c/rodínmusica" target="_blank"></a>
        </div>
      </div>    
    </div>

    <!-----------CREDITS--------------->
    <div #draggablecredits id="draggablecredits" class="draggable todrag credits hide" (click)="addzindex(draggablecredits)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablecreditsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzcredits" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosecredits (click)="closewindow(draggablecredits)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS Credits
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class=" d-flex fenestra">
          <p class="text-center">pantaisclus.art <a href="https://www.linkedin.com/in/valentinbelhomme/" target="_blank" class="textlink">©Valentin Belhomme</a> + <a href="https://neblum.art/pantaislabel" target="_blank" class="textlink">PantaisRecords</a> 2022 </p>
          <p class="hide">And a special thanks to the creators of poolsuite.net. </p>
        </div>
      </div>    
    </div>

    <!-----------Radio--------------->
    <div #draggableradio id="draggableradio" class="draggable todrag radio hide" (click)="addzindex(draggableradio)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableradioheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzradio" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloseradio (click)="closewindow(draggableradio)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS radio
      </div>
      <div class="insideframe"> 
        <ngx-audio-player class="gifK7" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
          muted="muted" [displayPlaylist]="msaapDisplayPlayList" 
          [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
          [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
          [displayDuration]="msaapDisplayDuration" [expanded]="true">
        </ngx-audio-player> 
      </div>
    </div> 
    <!-- [pageSizeOptions]="pageSizeOptions" (trackEnded)="onEnded($event)" [autoPlay]="false"   -->

    <!-----------LYRICS--------------->
    <div #draggablelyrics  id="draggablelyrics" class="draggable todrag lyrics hide" (click)="addzindex(draggablelyrics)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablelyricsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzlyrics" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloselyrics (click)="closewindow(draggablelyrics)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS lyrics
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="fenestra iconas iconaslyrics">
          <div class="row margin-btm rowsansgutterx">
            <p class="text-center">[U.S. LP]</p>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclus.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_art.png" alt="art"> 
              </a>
            </div>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclus_eng.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_eng.png" alt="english">
              </a>
            </div>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclus_fr.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_fr.png" alt="francais">
              </a>
            </div>
          </div>
          <div class="row rowsansgutterx">
            <p class="text-center">[deluxe]</p>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclusDLX.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_art_deluxe.png" alt="art_deluxe"> 
              </a>
            </div>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclusDLXeng.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_eng_deluxe.png" alt="english_deluxe">
              </a>
            </div>
            <div class="col">
              <a class="iconframe" href="https://neblum.art/Images/pdf/pantaisclusDLXfr.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/lyrics_fr_deluxe.png" alt="francais_deluxe">
              </a>
            </div>
          </div>
        </div>
      </div>    
    </div>

    <!-----------MAG---------------->
      <div #draggablemag  id="draggablemag" class="draggable todrag mag hide" (click)="addzindex(draggablemag)"  cdkDragBoundary="#draggingzone" cdkDrag>
        <div #draggablemagheader class="drag-header todrag" id="dragmagHeader" cdkDragHandle>
          <span><img id="crotzmag" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosemag (click)="closewindow(draggablemag)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS mag
        </div>
        <div class="insideframe"> <!-----------cadre interieur--------------->
          <flipbook  id="magflipbook" class="magflipbook" [model]="magazine" [startAt]="0"></flipbook>
          <!--<app-mag *ngIf="magView"></app-mag>-->
        </div>    
      </div>

    <!-----------SHOP--------------->
    <div #draggableshop  id="draggableshop" class="draggable todrag shop hide" (click)="addzindex(draggableshop)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableshopheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzshop" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloseshop (click)="closewindow(draggableshop)" 
          class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS shop
      </div>
      <div class="shopframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra imgshop">
            <div class="row">
              <img class="img-fluid shopimage" src='./assets/Images/shop/shop_banner.png'  alt="banner"/>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/pantaisclus" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_lp.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_lp_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_lp.png';" alt="CD"/>
                </a>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/pantaiscd" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_cd.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_cd_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_cd.png';" alt="CD"/>
                </a>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/pantaisusina" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_cdUsina.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_cdUsina_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_cdUsina.png';" alt="CD_Usina"/>
                </a>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/pantais-clus-stickers-lot-rodin" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_stickers.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_stickers_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_stickers.png';" alt="Stickers"/>
                </a>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/pantaisclusk7" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_k7.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_k7_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_k7.png';" alt="k7"/>
                </a>
            </div>
            <div class="row">
                <a href="https://botiga.pantaisrecords.com/product/flor-sabon" target="_blank">
                  <img class="img-fluid shopimage" src='./assets/Images/shop/shop_sabon.png' 
                    onmouseover="this.src='./assets/Images/shop/shop_sabon_hover.png';" 
                    onmouseout="this.src='./assets/Images/shop/shop_sabon.png';" alt="sabon"/>
                </a>
            </div>
            <div class="row">
              <a href="https://neblum.art/pantaislabel" target="_blank">              
                <img class="img-fluid shopimage" src='./assets/Images/shop/shop_footer.png'  alt="footer"/>
              </a>
            </div>
        </div>
      </div>    
    </div>

    <!-----------FRIENDS--------------->
    <div #draggablefriends  id="draggablefriends" class="draggable todrag friends hide" (click)="addzindex(draggablefriends)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablefriendsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzfriends" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosefriends (click)="closewindow(draggablefriends)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS friends
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas iconasfriends">
          <div class="row rowsansgutterx">
            <div class="col">
              <a class="" href="https://www.facebook.com/doradorovitchLabel" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/dora.png" alt="dora"> 
              </a>
            </div>
            <div class="col">
              <a class="" href="https://fakefourinc.com" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/fakefour.png" alt="fakefour">
              </a>
            </div>
            <div class="col">
              <a class="" href="https://pantaisrecords.com" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/prec.png" alt="pantaisrecord">
              </a>
            </div>
            <div class="col">
              <a class="" href="https://vimeo.com/piget" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/piget.png" alt="piget">
              </a>
            </div>
          </div>
        </div>
      </div>    
    </div>

    <!-----------TOUR--------------->
    <div #draggabletour  id="draggabletour" class="draggable todrag tour hide" (click)="addzindex(draggabletour)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggabletourheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotztour" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosetour (click)="closewindow(draggabletour)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS tour
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas">
          <div class="row rowsansgutterx">
            <a href="https://www.songkick.com/artists/10092111" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="transparent" data-locale="en">rodín tour dates</a>
            <script src="//widget.songkick.com/10092111/widget.js"></script>
          </div>
        </div>
      </div>    
    </div>

    <!-----------FILMS--------------->
    <div #draggablefilms id="draggablefilms" class="draggable todrag films hide" (click)="addzindex(draggablefilms)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggablefilmsheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzfilms" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosefilms (click)="closewindow(draggablefilms)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS clips
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div id="player" class=" d-flex filmsframe">
        </div>
      </div>
    </div>
    <!-----------Live--------------->
    <div #draggablelive  id="draggablelive" class="draggable todrag live hide" (click)="addzindex(draggablelive)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableliveheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzlive" src="./assets/Images/crotzponchs/godas_crotz.png" #iconcloselive (click)="closewindow(draggablelive)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS live
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <iframe id="palomasrc" class="d-flex filmsframe" width="560" height="315" src="https://www.youtube.com/embed/qEpcCirzkoo" title="Rodín live paloma" 
        frameborder="0" allowfullscreen></iframe>
      </div>    
    </div>

      <!-----------snippet--------------->
      <div #draggablesnippet id="draggablesnippet" class="draggable todrag tv hide" (click)="addzindex(draggablesnippet)"  cdkDragBoundary="#draggingzone" cdkDrag>
        <div #draggablesnippetheader class="drag-header todrag" cdkDragHandle>
          <span><img id="crotzsnippet" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosetv (click)="closewindow(draggablesnippet)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS television
        </div>
        <div class="insideframe">
          <iframe id="televisionsrc" class="d-flex filmsframe" width="624" height="456" src="https://www.youtube.com/embed/videoseries?list=PL81csO796eDB_jrvC1As4g4LHHxd7RYry" title="television" 
          frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    <!-----------PRO--------------->
    <div #draggablepro  id="draggablepro" class="draggable todrag pro hide" (click)="addzindex(draggablepro)"  cdkDragBoundary="#draggingzone" cdkDrag>
      <div #draggableproheader class="drag-header todrag" cdkDragHandle>
        <span><img id="crotzpro" src="./assets/Images/crotzponchs/godas_crotz.png" #iconclosepro (click)="closewindow(draggablepro)" class="draggableheadericon"alt="icon_crotz"></span> PANTAIS CLUS pro
      </div>
      <div class="insideframe"> <!-----------cadre interieur--------------->
        <div class="d-flex fenestra iconas iconaspro">
          <div class="row rowsansgutterx">
            <div class="col">
              <a class="" href="https://neblum.art/Images/pdf/press_book.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/press.png" alt="press"> 
              </a>
            </div>
            <div class="col">
              <a class="" href="https://neblum.art/Images/pdf/pantaistec.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/tech.png" alt="tec">
              </a>
            </div>
            <div class="col">
              <a class="" href="https://neblum.art/Images/pdf/pantaislive.pdf" target="_blank">
                <img class="img-fluid" src="./assets/Images/icones/live.png" alt="live">
              </a>
            </div>
          </div>
        </div>
      </div>    
    </div>

    <app-not-found *ngIf="errorView === 404"></app-not-found>
  
    <div class="cosdepagina">
      <div class="justify-content-center d-flex margin_topbottom">
        <div class="iconas">
          <a #iconradio (click)="displaywindow(draggableradio)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/radio.png" alt="radio">
          </a>
          <a #iconmag (click)="displaywindow(draggablemag)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/mag.png" alt="mag">
          </a> 
          <a #iconlyrics (click)="displaywindow(draggablelyrics)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/lyrics.png" alt="lyrics">
          </a>
          <a #iconlive (click)="displaywindow(draggablelive)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/livepaloma.png" alt="live">
          </a>
          <a #iconshop (click)="displaywindow(draggableshop)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/shop.png" alt="shop">
          </a>       
          <a #iconlinkssociau (click)="displaywindow(draggablesociau)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/links.png" alt="sociau">
          </a>
          <a #iconvideos (click)="displaywindow(draggablesnippet)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/tv.png" alt="tv">
          </a> 
          <a #iconfilms (click)="displaywindow(draggablefilms)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/clips.png" alt="clips">
          </a>
          <a #iconfriends (click)="displaywindow(draggablefriends)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/friends.png" alt="friends">
          </a>
          <a #iconpro (click)="displaywindow(draggablepro)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/pro.png" alt="pro">
          </a>
          <!--
            <a #icontour (click)="displaywindow(draggabletour)" >
            <img class="img-fluid margin-top" src="./assets/Images/icones/tour.png" alt="tour">
          </a>
          -->
        </div>
      </div>
    </div>
  </div>   
</div>