<div class="cover">
   <div class="book">
      <label for="page-1"  class="book__page book__page--1">
      <img src="./assets/Images/backgrounds/lura.jpg" alt="">
      </label>
      <label for="page-2" class="book__page book__page--4">
         <div class="page__content">
            <img src="./assets/Images/backgrounds/salagon.jpg" alt="">
            
         </div>
      </label>
      <!-- Resets the page -->
      <input type="radio" name="page" id="page-1"/>
      <!-- Goes to the second page -->
      <input type="radio" name="page" id="page-2"/>
      <label class="book__page book__page--2">
         <div class="book__page-front">
            <div class="page__content">
               <img src="./assets/Images/backgrounds/marselha.jpg" alt="">
               
            </div>
         </div>
         <div class="book__page-back">
            <div class="page__content">
               <img src="./assets/Images/backgrounds/vitrolas.jpg" alt="">
               
               
            </div>
         </div>
      </label>
   </div>
</div>


