:root {    
    --noir-background: #131518;
    --bordFenetre: #b55c5c; /*navbar+ bordsFenetres*/
    --typoPonchs: #ffba00; /*Typo + fond fenetres (ponchs)*/
    --fonsFenestra: ; /*url(./assets/Images/fonsfenestra/fenestra_godas.jpg);*/
    --rouge_text: #DF9F1F;
    --white: white;
    --bgimg: ;/*url(./assets/Images/backgrounds/godas.jpg);*/

    --apple: ;
    --appleHover: ;
    --bandcamp: ;
    --bandcampHover: ;
    --facebook: ; /* url('./assets/Images/sociau/fb_link.png')  no-repeat*/
    --facebookHover: ;
    --instagram: ;
    --instagramHover: ;
    --soundcloud: ;
    --soundcloudHover: ;
    --spotify: ;
    --spotifyHover: ;
    --twitter: ;
    --twitterHover: ;
    --youtube: ;
    --youtubeHover: ;
}   

* {
    box-sizing: border-box;
    cursor: url('./assets/Images/cursor/cursor.svg'), url('./assets/Images/cursorlite/cursor.svg'),auto!important;
  }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}

a:-webkit-any-link, a img, .underline, .dropdown-item, .draggableheadericon, .drag-header span img,
mat-icon svg, mat-icon svg path, button {
    cursor: url('./assets/Images/cursor/cursor_det.svg'), url('./assets/Images/cursorlite/cursordet.png') 3 0, auto!important;
}

.draggable a, .cosdepagina a, .iconas a, .iconas a img, 
#iconclosesociau, #iconclosecredits, .draggableheadericon, .drag-header span img,
.underline, .dropdown-item, mat-icon svg, mat-icon svg path, button {
    cursor: url('./assets/Images/cursor/cursor_det.svg'), url('./assets/Images/cursorlite/cursordet.png') 3 0, auto!important;
}

.global-item:not(.no-drag) .drag-header, .global-item:not(.no-drag)
.drag-header .spacer, .global-item:not(.no-drag) .drag-header
.spacer i, .global-item:not(.no-drag) .drag-header h2{
    cursor: url('./assets/Images/cursor/cursor_man.svg'), url('./assets/Images/cursorlite/cursor_man.svg'),auto!important
}

#quatreponchs, #linkquatreponchs{
    cursor: url('./assets/Images/cursor/cursor.svg'), url('./assets/Images/cursorlite/cursor.svg'),auto!important;
}

@font-face {
    font-family: 'WeissModernGothic';
    src: url('./assets/Fonts/WeissModernGothic.otf') format('truetype'), url('./assets/Fonts/WeissModernGothic.otf') format('truetype');
}
@font-face {
    font-family: 'ChicagoFLF';
    src: url('./assets/Fonts/ChicagoFLF.ttf') format('truetype'), url('./assets/Fonts/ChicagoFLF.ttf') format('truetype');
}
@media (max-width:725px) {
    .shopimage{
        max-width: 100%!important;
    }
}
@media (max-width:800px) {
    .cosdepagina{
        margin-bottom: 8%!important ;
    }
}
@media (min-width:576px) {
    .row{
        padding-right: 0px;
        padding-left: 0px;
    }
}

body {
    font-family: 'ChicagoFLF';
    margin: 0px;
    background-position: center;
}

body, .ng-isolate-scope, home, index2, index, headerview{
    overflow: hidden;
}

@media (pointer: coarse) and (hover: none) {  
  .embed-responsive{
      height: 100%
    }
}

.weissModern{
    font-family: 'WeissModernGothic';
    font-size: 1rem!important;
}

@media (max-width: 445px){
    .computermenu {
        display: none !important;
    }
}
@media (min-width: 446px){
    .mobilemenu {
        display: none !important;
    }
}

.cosdepagina{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    max-width: 630px;
    margin-bottom: 3%;
}

.iconas a {
    margin-left: 1rem;
    margin-right: 1rem;
}

#draggingzone {
    background-image: var(--bgimg);
    position: relative;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    top: 1.5em!important;
    bottom: -1.5em!important;
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-x: center;
    /*Est ce que ça résout le pb sur mobile?*/
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.fixed-top{
    top: -0.5px;
}

#dragginzonenotfound{
    max-width: 100%;
    width:100vw;
    height: 100vh;
}

.fenestra{
    /*justify-content: center !important;*/
    margin: 20px 6px;
    color: var(--noir-background);
    font-size: 0.85rem;
    /*flex-wrap: wrap;*/
}

.grostitreorange{
    margin-left:1rem;
    margin-right: 1rem;
}

.sociau{
    top: 50%;
    left: 15%;
}
.credits{
    top:10%;
    left: 10%;
}
.tv{
    top:15%;
    left: 5%;
}
.films{
    top:15%;
    left: 7%;
}
.radio{
    top:5%;
    left: 0%;
    width: 360px;
}
.lyrics{
    top:30%;
    left: 8%;
}
.mag{
    top:5%;
    left: 5%;
}
.shop{
    top:10%;
    left: 15%;
    max-width: 800px;
}
.pro{
    top:20%;
    left: 5%;
}
.friends{
    top:8%;
    left: 12%;
}

.tour{
    top:17%;
    left: 2%;
}

.live{
    top:11%;
    left: 12%;
}

.text-center{
    text-align:center!important;
}

.footertext, .drag-header{
    font-size: 0.7rem;
}

a, a:hover {
    color: transparent;
}

.textlink{
    color: var(--bordFenetre);
    text-decoration: underline;
}
.textlink:hover{
    color: var(--noir-background);
}

.margin_topbottom{
    margin-bottom: 2em;
    margin-top: 3em;
}


.hide, .dropdown-toggle::after {
    display: none;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    padding: 0;
    overflow: hidden;
}

/*------DragAndDrop-------*/
.drag-header, .drag-header img{
    user-select: none;
    cursor: url('./assets/Images/cursor/cursor_man.svg'), auto!important;
    color: var(--typoPonchs);
}

.drag-header {
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 1px;
}

.draggableheadericon{
    height: 15px;
    width: 15px;
    margin-left: 4px;
    padding: 1px 1px;
}

.draggable{
    position: absolute;
    z-index: 99;
    background-color: var(--bordFenetre);
    border: 1px solid var(--noir-background);
    -webkit-box-shadow: 5px 5px 0px -2px #131518b0; 
    box-shadow: 5px 5px 0px -2px #131518b0;
}

.insideframe{
    border: 1px solid var(--noir-background);
    margin: 0px 5px 8px;
    background: var(--typoPonchs);
    background-image: var(--fonsFenestra); 
    background-size: 5px 5px;
}

.filmsframe{
    max-width: 100%;
}
.html5-video-player .video-click-tracking, .html5-video-player .video-stream{
    width: 100%!important;
}


.iconaslyrics a img, 
.iconaspro a img,
.iconasfriends a img
{
    height: 60px;
    width: 55px;
}

/*******NavbarMenu*******/

.topnavbar {
    background-color: var(--bordFenetre);
    border-color: var(--noir-background);
}
  
.navbar {
    padding: 0rem 0.5rem;
}

.nav-link{
    font-size: 0.9rem;
    padding: 0.1rem 1rem
}

.titolmenu{
    display: block;
    font-size: 0.9rem;
    padding: 0.1rem 1rem;
    -webkit-font-smoothing: antialiased;
}

.navbar-light .navbar-nav .nav-link, .titolmenu {
    color: var(--typoPonchs)
}

.navbar-expand .navbar-nav .nav-link, .titolmenu {
    padding-right: .5rem;
    padding-left: .5rem;
}
.dropdown-menu{
    background-color: var(--bordFenetre);
    min-width: 8rem;
    padding: 0.1rem 0;
    min-width: 8rem;
    padding: 0.1rem 0;
    font-size: 0.9rem;
}

.dropdown-item{
    padding: .2rem .3rem;
}

.underline::first-letter, .dropdown-item::first-letter{
    text-decoration:underline;
}

.quatreponchs{
    padding: 0.1rem 0rem;
}
/*------SHOP-------*/
.shopframe{
    background-size: cover;
    background-image: url(./assets/Images/shop/shop_fons.jpg);
    border: 1px solid var(--noir-background);
    margin: 0px 5px 8px;
}

.imgshop{
    max-height: 80vh;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0px;
}
.shopimage{
    margin-right: auto!important;
    margin-left: auto!important;
    max-width: 600px;
    /*display: block;*/
}

.colshop{
    flex-direction: column;
    align-items: center;
    display: flex;
}

.shopparagraph{
    min-width: 30%;
    text-align: justify;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.margin-btm {
    margin-bottom: 1em;
}

.margin-top{
    margin-top: 1rem;
}
.rowsansgutterx{
    --bs-gutter-x: 0rem!important;
}

.iconframe{
    margin-right: 0!important;
}
/*------SOCIAU-------*/
.apple{
	background: var(--apple);
    height: 45px;
	width: 40px;
	background-size: 40px 45px;
}

.apple:hover{
    background-image: var(--appleHover);
}

.bandcamp{
	background: var(--bandcamp);
    height: 45px;
	width: 65px;
	background-size: 65px 45px;
}

.bandcamp:hover{
    background-image: var(--bandcampHover);
}

.facebook{
	background: var(--facebook); 
    height: 45px;
	width: 26px;
	background-size: 26px 45px;
}

.facebook:hover{
    background-image: var(--facebookHover);
}
    
.instagram{
	background: var(--instagram);
    height: 45px;
	width: 49px;
	background-size: 49px 45px;
}

.instagram:hover{
    background-image: var(--instagramHover);
}

.soundcloud{
	background: var(--soundcloud);
    height: 45px;
	width: 64px;
	background-size: 64px 45px;
}

.soundcloud:hover{
    background-image: var(--soundcloudHover);
}

.spotify{
	background: var(--spotify);
    height: 45px;
	width: 49px;
	background-size: 49px 45px;
}

.spotify:hover{
    background-image: var(--spotifyHover);
}

.twitter{
	background: var(--twitter);
    height: 45px;
	width: 54px;
	background-size: 54px 45px;
}

.twitter:hover{
    background-image: var(--twitterHover);
}

.youtube {
	background: var(--youtube);
    height: 45px;
    width: 42px;
    background-size: 42px 45px;
}

.youtube:hover{
    background-image: var(--youtubeHover);
}

/*------RADIO (ngx-audio-player)-------*/

.mat-expansion-panel, .ngx-audio-player {
    max-width: 100%!important;
    min-width: 340px!important;
}

.mat-paginator, .mat-content, .mat-expansion-indicator::after {
    display: none!important;
}

.mat-card {
    font-family: 'ChicagoFLF'!important;
}

.mat-slider-thumb {
    background: var(--bordFenetre)!important;
}

/* 
mat-card.mat-card.mat-focus-indicator.mat-elevation-z1.ngx-audio-player.ng-star-inserted,*/
tr.mat-header-row.cdk-header-row.ng-star-inserted, .mat-expansion-panel-content,
.mat-expansion-panel-header, 
.mat-slider, /*slider temps*/
.ngx-d-none.ngx-d-sm-block.ngx-py-3.ngx-px-1 /*temps écoulé*/
 {
   display: none!important;
}

.mat-card {
    background: var(--fonsfenestra);    
}

.mat-table,
.mat-focus-indicator.ngx-d-flex.ngx-justify-content-center.ngx-audio-player.z-depth-1.mat-elevation-z2 {
    background: transparent;
}
.mat-expansion-panel{
    background-size: 100% auto;
    background-image: url('./assets/Images/GIFk7.gif');
    background-repeat: no-repeat;
    box-sizing: border-box!important;;
    padding: 32.5%;
    width: 100%;
    height: 0;
    background-size: contain;
}

.mat-cell, .mat-footer-cell{
    color:white
}
.ngx-pr-1, .ngx-px-1{
    min-width: 50px!important
}
mat-icon.mat-icon.notranslate.currently-playing.material-icons.mat-icon-no-color.ng-star-inserted {
    fill: var(--typoPonchs);
}

mat-card.mat-card.mat-focus-indicator.mat-elevation-z1.ngx-audio-player.ng-star-inserted {
    height: 55px;
}

mat-card.mat-card.mat-focus-indicator.ngx-d-flex.ngx-justify-content-center.ngx-audio-player.z-depth-1.mat-elevation-z2 {
    height: 50px;
}

/*------TOUR-------*/
.songkick-widget{
    color: var(--noir-background);
    text-decoration: none;
}